<div class="flex items-top justify-between w-full bg-gray-50 py-4 px-8 mt-20">
  <!-- left side -->
  <div class="flex flex-col w-[33%]">
    <div
      class="px-1 py-2 select-none cursor-default font-bold font-slab text-gray-400"
    >
      Contact me
    </div>
    <ul class="flex flex-col gap-2 text-sm cursor-default">
      <li class="flex items-center">
        <mat-icon class="text-base text-gray-400"> email </mat-icon>
        <span>andy.grini@gmail.com</span>
      </li>
      <li class="flex items-center">
        <mat-icon class="text-base text-gray-400"> call</mat-icon>
        <span>+373-68-953-913</span>
      </li>
    </ul>
  </div>

  <!-- center side -->
  <div
    class="flex py-2 width-[33%] font-slab font-bold select-none text-gray-400"
  >
    AG-2022
  </div>

  <!-- right side -->
  <div class="flex justify-end w-[33%] gap-20">
    <div>
      <div
        class="flex py-2 select-none cursor-default font-bold font-slab text-gray-400"
      >
        Frontend
      </div>
      <ul class="flex flex-col cursor-default">
        <li class="flex items-center gap-2">
          <span class="font-slab text-sm text-red-600">Angular</span>
        </li>
      </ul>
    </div>

    <div>
      <div
        class="flex py-2 select-none cursor-default font-bold font-slab text-gray-400"
      >
        Backend
      </div>
      <ul class="flex gap-2 flex-col cursor-default">
        <li class="flex items-center gap-2">
          <span class="font-slab text-sm text-emerald-700">Nodejs:</span>
          <span class="text-sm">data storage</span>
        </li>
        <li class="flex items-center gap-2">
          <span class="font-slab text-sm text-pink-600">Hasura:</span>
          <span class="text-sm">postgres db</span>
        </li>
      </ul>
    </div>
  </div>
</div>
