<div class="flex flex-col gap-20 py-20">
  <app-component-logo [logo_title]="logo_title"></app-component-logo>
  <app-hero-search
    [(input_data)]="input_data"
    (input_dataChange)="inputDataChange($event)"
  ></app-hero-search>

  <div
    class="flex flex-col gap-5 w-[600px] m-auto"
    [ngClass]="{ 'min-h-[500px]': input_data }"
  >
    <div
      *ngFor="let hero of heroes"
      class="bg-white rounded-md flex gap-5 cursor-pointer"
      (click)="geHeroDetails(hero)"
    >
      <div
        class="hero-image"
        style="
        background-image: url('{{ SRV_NODE_SUPERHEROES }}{{ hero.photo }}')"
      ></div>
      <div class="flex flex-col justify-between py-2">
        <div class="font-slab font-bold">{{ hero.name }}</div>
        <div class="select-none flex items-center gap-2">
          <mat-icon class="text-red-600">stars</mat-icon>
          <span class="text-lg">{{ hero.rating }}</span>
        </div>
      </div>
    </div>
  </div>
  <button
    *ngIf="!input_data"
    title="More heroes"
    mat-mini-fab
    color="primary"
    class="upload-btn !text-blue-900 !bg-white self-center flex"
    (click)="fetchMoreHeroes()"
  >
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</div>
