<div class="flex flex-col gap-20">
  <h1
    class="font-slab self-center py-40 w-[fit-content] text-blue-900 select-none"
  >
    {{ title }}
  </h1>

  <!-- <div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name" />
</div> -->

  <!-- 
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Hero: </mat-label>
      <input
        type="text"
        matInput
        name="name"
        [(ngModel)]="hero.name"
        placeholder="name"
      />
    </mat-form-field>
  </form> -->

  <ul
    class="heroes-list flex flex-wrap w-[fit-content] items-center justify-center"
  >
    <li
      *ngFor="let hero of heroes"
      class="hero-card"
      style="background-image: url('{{ hero.photo }}')"
    >
      <div>
        <h5 *ngIf="hero.name" class="flex w-full cursor-default">
          {{ hero.name }}
        </h5>
      </div>
      <div class="flex flex-auto"></div>
      <div class="flex items-center justify-center">
        <button
          id="basic"
          type="button"
          mat-flat-button
          color="primary"
          (click)="openHeroDetails(hero)"
          class="open-details-button"
        >
          Open details
        </button>
      </div>
    </li>
  </ul>
</div>
