<div class="flex flex-col gap-20 items-center py-20">
  <app-component-logo [logo_title]="logo_title"></app-component-logo>
  <app-hero-search
    [(input_data)]="input_data"
    (input_dataChange)="inputDataChange($event)"
  ></app-hero-search>

  <ul class="heroes-list flex flex-wrap w-full items-center justify-center">
    <li
      *ngFor="let hero of heroes"
      class="hero-card"
      style="background-image: url('{{ SRV_NODE }}{{ hero.photo }}')"
    >
      <div class="relative flex flex-auto">
        <mat-icon
          title="Biography"
          (click)="openHeroDetails(hero)"
          class="absolute right-6 top-4 text-white text-4xl cursor-pointer hover:text-yellow-400 hover:shadow-md hover:translate-y-[-2px] transition-all"
          >info</mat-icon
        >
        <div
          class="flex self-end items-center justify-center gap-4 py-4 w-full"
        >
          <mat-icon
            title="rate up"
            (click)="heroService.updateHeroRating(hero.id, 1)"
            class="text-yellow-400 cursor-pointer hover:shadow-md hover:translate-y-[-1px] transition-all"
            >thumb_up</mat-icon
          >
          <span
            class="w-10 h-10 p-2 flex items-center justify-center font-bold bg-white rounded-full select-none"
            >{{ hero.rating }}</span
          >
          <mat-icon
            title="rate down"
            (click)="heroService.updateHeroRating(hero.id, -1)"
            class="text-red-500 cursor-pointer hover:shadow-md hover:translate-y-[2px] transition-all"
            >thumb_down</mat-icon
          >
        </div>
      </div>
      <div
        class="flex items-center justify-center bg-blue-900 text-white h-14 rounded text-base font-lato cursor-default"
      >
        {{ hero.name }}
      </div>
    </li>
  </ul>
</div>
