<h1>{{ hero.name }}</h1>

<!-- <div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name" />
</div> -->

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Hero: </mat-label>
    <input
      type="text"
      matInput
      name="name"
      [(ngModel)]="hero.name"
      placeholder="name"
    />
  </mat-form-field>
</form>

<ul *ngFor="let hero of heroes">
  <li *ngIf="hero.name">{{ hero.name }}</li>
</ul>
